{
	debug
}

# Integration testing endpoint
:8080 {
	tls {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /etc/caddy/certs/ca.pem
		}
	}

	# Validate client certificate with Bouncer before reaching the Hub
	forward_auth bouncer:4444 {
		uri /validate
		header_up X-Client-Cert {http.request.tls.client.certificate_pem}
	}

	# Proxy to the Phoenix Hub
	reverse_proxy hub:4000 {
		header_up X-Client-Subject {http.request.tls.client.subject}
	}
}
