name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.19.5'
          otp-version: '26.3'
      - name: Install hex & rebar
        run: |
          mix local.hex --force
          mix local.rebar --force
      - name: Get deps
        run: mix deps.get
      - name: Run tests
        run: mix test

  integration-tests:
    runs-on: ubuntu-latest
    needs: unit-tests
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.19.5'
          otp-version: '26.3'
      - name: Install hex & rebar
        run: |
          mix local.hex --force
          mix local.rebar --force
      - name: Get deps
        run: mix deps.get
      - name: Run integration tests
        run: mix test.integration
